@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }

    body {
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .print-area {
        width: 210mm !important;
        height: 297mm !important;
        box-shadow: none !important;
        transform: none !important;
    }
}

@layer components {
    .custom-step-connector .MuiStepConnector-line {
        @apply !border-base-50;
    }
}
